/* You can add global styles to this file, and also import other style files */
.oi {
    font-size: x-large;
}

.oi-circle-x {
    color: red;
}

.oi-warning {
    color: goldenrod;
}

.oi-circle-check {
    color: green;
}

.oi-question-mark {
    color: gray;
}